APP_JWT_ACCESS_SECRET=jwt_access_secret
APP_JWT_REFRESH_SECRET=jwt_refresh_secret
APP_JWT_ACCESS_EXPIRATION_MINUTES=120
APP_JWT_REFRESH_EXPIRATION_DAYS=14
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_pass
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/db_name
SPRING_DATASOURCE_USERNAME=db_user
SPRING_DATASOURCE_PASSWORD=db_pass
SPRING_JPA_HIBERNATE_DDL_AUTO=update
MINIO_ROOT_USER=minio_user
MINIO_ROOT_PASSWORD=minio_pass
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET_NAME=svg-maps